.btn-search {
    background-color: $grey-color !important;
    &:hover {
        border: none;
        background-color: #5e432b !important;
        color: var(--secondColor);
    }
}

// Buttons Generate Inform  -------------------------------------

.btn-generate-inform {
    border-radius: 100% !important;
    background-color: $none-color;
    color: $white-color;
}

.btn-child-data {
    position: relative;
    .child-data-true {
        font-weight: 700;
        color: $dark-color;
        border: 1px solid white;
        background-color: white;
        border-radius: 50%;
        position: absolute !important;
        margin: 5px 5px 0em 0em !important;
        top: 0;
        right: 0;
        width: 1.65em;
    }
    .child-data-loading {
        position: absolute !important;
        margin: 5px 5px 0em 0em !important;
        top: 0;
        right: 0;
    }
}

.children-check {
    top: 5px;
    right: 5px;
    border: 1px solid white;
    border-radius: 50%;
    width: 1.54em;
    font-size: 10px;
}

.btn-primary-brown {
    background-color: $dark-color !important;
    color: white !important;
    &:hover {
        background-color: $primary-color !important;
    }
}

.bg-active-white {
    background-color: $white-color !important;
}

.btn-menu {
    cursor: pointer;
    margin-top: 5px;
    &:hover {
        background-color: $grey-color !important;
        color: $white-color;
        img {
            filter: brightness(0) invert(1);
        }
    }
}
