.content-Bar {
    height: 100vh;
    //background-image: url("../img/menu-left-1.svg");
    background-image: url("../img/menu-left.svg");
    @media (min-height: 1075px) {
        background-image: url("../img/menu-left-0.svg");
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 0px 16px 0px 16px !important;
    //transition: 0.2s;
    //transform: scaleX(1);
    align-content: center;
    width: 14em;
    z-index: 3;
    /* -webkit-transition: background-image 0.02s ease;
    transition: background-image 0.02s ease; */
}

.content-Bar {
    @media (min-height: 1075px) {
        background-image: url("../img/menu-left-2.svg");
    }
}

.content-Bar {
    i {
        line-height: unset;
    }
}

.content-Bar i {
    line-height: unset;
}

/* .content-Bar:hover {
    width: 14em;
    background-image: url("../img/menu-left.svg");
    @media (min-height: 1075px) {
        background-image: url("../img/menu-left-0.svg");
    }
} */

.icon-navbar {
    width: 1.5em;
}

.nav-link {
    display: block;
    padding: 0.67em !important;
}

.activate-navbar {
    background-color: var(--white);
    color: #726b62 !important;
    border-radius: 3em;
    width: 100%;
}

.activate-navbar:hover {
    background-color: var(--white);
    color: #726b62 !important;
}

.activate-navbar i {
    color: #726b62 !important;
}

.activate-navbar div div {
    color: #726b62 !important;
}

/* Menu Movil */
.content-BarM {
    background-image: url("../img/menu-movil.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.navbar-collapse {
    margin-top: 12px;
    background-color: #a29888;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.list-result {
    /* background-color: red; */
    @media (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(2em, auto);
    }
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(2em, auto);
    }
    @media (max-width: 625px) {
        display: block;
    }
}

.pagination {
    grid-column: 1 / 3;
}

/* ---------- */

.icon-menu-mobile {
    height: 1em;
}

.button-navbar-mobile {
    height: 2em;
    width: 2em;
    background-color: red;
}

.showListSelect {
    /* width: 0px !important; */
    //padding: 0px;
    transition: 0.2s;
    @media (max-width: 992px) {
        width: 100% !important;
        height: 100% !important;
        padding: 0px;
        transition: 0.2s;
    }
}

.bg-cof {
    background-color: #695f53 !important;
    color: #c5bcac !important;
}

.bg-cof {
    background-color: #493f34 !important;
}

.tab-selec-active {
    font-weight: 700 !important;
    color: $dark-color !important;
    &::after {
        width: 100%;
        height: 0.3em;
        transform: scaleX(1) !important;
        color: $dark-color;
    }
}

.nav-item {
    .active {
        background-color: $primary-color !important;
    }
    .nav-link {
        &::hover {
            background-color: $dark-color !important;
        }
    }
}
